<style>
    .nj-table tr{
        position: relative;
    }
    
    .nj-table tr[disabled] td::after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.048);
        z-index: 100;
    }

    .DTFC_LeftBodyLiner{
        overflow: hidden;
    }

    .freeze-pane table tbody tr td, .freeze-table table tbody tr td,.freeze-pane table tbody tr th, .freeze-table table tbody tr th{
        text-align: center;
    }

    .freeze-pane .dataTables_scroll .dataTables_scrollHead .dataTable thead tr th.sorting, .freeze-table .dataTables_scroll .dataTables_scrollHead .dataTable thead tr th.sorting{
        text-align: center;
    }

    .freeze-pane .DTFC_LeftHeadWrapper .dataTable thead tr th.sorting, .freeze-pane .DTFC_RightHeadWrapper .dataTable thead tr th.sorting, .freeze-table .DTFC_LeftHeadWrapper .dataTable thead tr th.sorting, .freeze-table .DTFC_RightHeadWrapper .dataTable thead tr th.sorting, .freeze-pane .DTFC_LeftHeadWrapper .dataTable thead tr th.sorting_asc, .freeze-pane .DTFC_RightHeadWrapper .dataTable thead tr th.sorting_asc, .freeze-table .DTFC_LeftHeadWrapper .dataTable thead tr th.sorting_asc, .freeze-table .DTFC_RightHeadWrapper .dataTable thead tr th.sorting_asc{
        text-align: center;
    }
    .row-error:before {
        content: 'error';
    }
    .row-error{
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        border-radius: 4px;
        background-color: #e74c4c;
        margin-top: 4px;
        padding: 1px 4px;
        font-size: 6px;
        color: white;
        transform: translateX(-50%);
        letter-spacing: 1px;
    }
    td > *{
        overflow: hidden;
    }

</style>
<div id="list-candidate-app">
    <div class="p-wrapper form-full search-filter-form">
        <form @submit.prevent="">
            <div v-show="isFormLoading" class="page-screen rel">
                <div class="nj-loading m">
                    <div class="item"></div>
                    <div class="item"></div>
                    <div class="item"></div>
                </div>
            </div>
            <h2 class="text-center">
                <template v-if="ACTION == ACTION_ADD">
                    Add Candidate
                </template>
                <template v-else>
                    Candidate Competency Profiling
                </template>
            </h2>
            <div>
                <div class="row clearfix">
                    <div class="column one-half">
                        <label for="" class="form-label">Institution <span class="color-red">*</span></label>
                        <span class="custom-combobox">
                            <select v-model="form.institution">
                                <option :value="{}">Please select institution</option>
                                <option v-for="institution in institutions" :value="institution">
                                    {{ institution.InstName }}
                                </option>
                            </select>
                            <span class="combobox-label">
                                {{ form.institution.InstName || "Please select institution"}}
                            </span>
                        </span>
                        <label class="label-message color-red">
                            {{ errors.institution || "&nbsp;" }}
                        </label>
                    </div>
                    <div class="column one-half">
                        <label for="" class="form-label">Academic Organization <span class="color-red">*</span></label>
                        <span class="custom-combobox">
                            <select v-model="form.organization" >
                                <option :value="{}">ALL</option>
                                <option v-for="organization in organizations" :value="organization">
                                    {{ organization.ACAD_ORG }} - {{ organization.DESCR }}
                                </option>
                            </select>
                            </select>
                            <span class="combobox-label">
                                <template v-if="typeof form.organization != 'undefined' && typeof form.organization.DESCR != 'undefined' && typeof form.organization.ACAD_ORG != 'undefined'">
                                    {{ form.organization.ACAD_ORG }} - {{ form.organization.DESCR }}
                                </template>
                                <template v-else>ALL</template>
                            </span>
                        </span>
                        <label class="label-message color-red">
                            {{ errors.organization || "&nbsp;" }}
                        </label>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="column one-half">
                        <label for="" class="form-label">Department <span class="color-red">*</span></label>
                        <span class="custom-combobox">
                            <select v-model="form.department">
                                <option :value="{}">ALL</option>
                                <option v-for="department in filteredDepartments" :value="department">
                                    {{ department.Dep }} - {{ department.DepName }}
                                </option>
                            </select>
                            </select>
                            <span class="combobox-label">
                                <span v-if="typeof form.department.Dep != 'undefined' && typeof form.department.DepName != 'undefined'">
                                    {{ form.department.Dep }} - {{ form.department.DepName }}
                                </span>
                                <span v-else>
                                    ALL
                                </span>
                            </span>
                        </span>
                        <label class="label-message color-red">
                            {{ errors.department || "&nbsp;" }}
                        </label>
                    </div>
                    <div class="column one-half">
                        <label for="" class="form-label">
                            Period <span class="color-red">*</span>
                            <div class="nj-loading s" v-show="isFetchingPeriod">
                                <div class="item"></div>
                                <div class="item"></div>
                                <div class="item"></div>
                            </div>
                        </label>
                        <span class="custom-combobox">
                            <select v-model="form.period" :disabled="typeof form.institution.Inst == 'undefined'">
                                <option :value="{}">Please select period</option>
                                <option :value="period" v-for="period in filterPeriods(form.institution.Inst, )">
                                    <template v-if="period.Period == null">NULL</template>
                                    <template v-else>{{ period.Period }}</template>
                                </option>
                            </select>
                            <span class="combobox-label">
                                <template v-if="typeof form.period.Period == 'undefined'">Please select period</template>
                                <template v-else-if="form.period.Period == null">NULL</template>
                                <template v-else>{{ form.period.Period }}</template>
                            </span>
                        </span>
                        <label class="label-message color-red">
                            {{ errors.period || "&nbsp;" }}
                        </label>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="column" style="text-align: right;">
                        <nj-button @click="onAddCandidateClicked" :is-processed="isAddCandidateSearching" display-text="ADD CANDIDATE" animation-color="white"></nj-button>
                        <nj-button @click="searchClicked" :is-processed="isSearching" display-text="Search" animation-color="white"></nj-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="p-wrapper search-filter-form" v-if="candidates.length > 0">
        <div style="position: relative;">
            <h2 class="text-center">
                <template v-if="ACTION == ACTION_ADD">
                    ADD CANDIDATE
                </template>
                <template v-else>
                    LECTURE LIST 
                </template>
            </h2>
            <div @submit.prevent="" v-if="ACTION == ACTION_ADD">
                <template v-if="candidates.length < 1">Data is empty ...</template>
                <div class="freeze-pane" data-fixed-left="1" data-fixed-right="0" data-height="300" v-else>
                    <table class="bordered">
                        <thead>
                            <tr>
                                <th style="width: 32px; text-align: center;">No</th>
                                <th style="width: 250px; text-align: center;">Lecture</th>
                                <th style="width: 200px; text-align: center;">Current JKA</th>
                                <th style="width: 160px; text-align: center;">Current Grade</th>
                                <th style="width: 240px; text-align: center;">Next JKA</th>
                                <th style="width: 240px; text-align: center;">Next Grade</th>
                                <th style="width: 160px; text-align: center;">Institution</th>
                                <th style="width: 300px; text-align: center;">Academic Organization</th>
                                <th style="width: 300px; text-align: center;">Department</th>
                                <th style="width: 160px; text-align: center;">Behavioral Date</th>
                                <th style="width: 160px; text-align: center;">Period</th>
                                <th style="width: 240px; text-align: center;">Reason</th>
                                <th style="text-align: center;"><input type="checkbox" @click.stop="selectAllCandidateClicked" ref="checkboxAddCandidate"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(candidate, index) in candidates" style="height: 67px;">
                                <td><div style="width: 32px;">{{ (index + 1) }}</div></td>
                                <td><div style="width: 250px;overflow: hidden;">{{ candidate.LecturerCode }} - {{ candidate.Name }}</div></td>
                                <td>
                                    <div style="width: 200px;position: relative;">
                                        {{ candidate.CurrentJKA || "-" }}
                                    </div>
                                </td>
                                <td><div style="width: 160px;">{{ candidate.CurrentGradeJKA }}</div></td>
                                <td>
                                    <div style="width: 240px;">
                                        <span class="custom-combobox" v-if="checkedCandidates[candidate.LecturerCode]">
                                            <select @change="candidate.NextJKA = $event.target.value;">
                                                <option style="display:none"></option>
                                                <option :value="desc" v-for="desc in filterJKA(candidate.NextJKAForFilter)">
                                                    {{ desc }}
                                                </option>
                                            </select>
                                            <span class="combobox-label">
                                                {{ candidate.NextJKA }}
                                            </span>
                                        </span>
                                        <span v-else>
                                            {{ candidate.NextJKA }}
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 240px;">
                                        <span class="custom-combobox" v-if="checkedCandidates[candidate.LecturerCode]">
                                            <select @change="candidate.NextGradeJKA = $event.target.value;">
                                                <option style="display:none"></option>
                                                <option :value="grade.N_JKA_ID" v-for="grade in filterLevelGrades(candidate.NextJKA, candidate.NextGradeJKAForFilter)">
                                                    {{ grade.N_JKA_ID }}
                                                </option>
                                            </select>
                                            <span class="combobox-label">
                                                {{ candidate.NextGradeJKA }}
                                            </span>
                                        </span>
                                        <span v-else>
                                            {{ candidate.NextGradeJKA }}
                                        </span>
                                    </div>
                                </td>
                                <td><div style="width: 160px;">{{ institutions[candidate.Inst].InstName }}</div></td>
                                <td><div style="width: 300px;">{{ candidate.AcadOrg }} - {{ candidate.AcadName }}</div></td>
                                <td><div style="width: 300px;">{{ candidate.DepName || "-" }}</div></td>
                                <td><div style="width: 160px;">{{ candidate.BehaviorDate || "-" }}</div></td>
                                <td>
                                    <div style="width: 160px;position: relative;">
                                        {{ form.period.Period || "-" }}
                                    </div>
                                </td>
                                <td>
                                    <div style="width: 240px;">
                                        <span class="custom-combobox" v-if="checkedCandidates[candidate.LecturerCode]">
                                            <select @change="candidate.ReasonID = $event.target.value;">
                                                <option style="display:none"></option>
                                                <option :value="reason.ReasonID" v-for="reason in reasons">
                                                    {{ reason.Reason }}
                                                </option>
                                            </select>
                                            <span class="combobox-label">
                                                {{ reasons[candidate.ReasonID].Reason }}
                                            </span>
                                        </span>
                                        <span v-else>
                                            {{ reasons[candidate.ReasonID].Reason }}
                                        </span>    
                                    </div>
                                </td>
                                <td style="position: relative;">
                                    <input type="checkbox" :checked="checkedCandidates[candidate.LecturerCode]" @click="onSelectedCandidateToAdd($event, candidate)"/>
                                    <span class="row-error" v-if="typeof candidateErrors[candidate.LecturerCode] != 'undefined'"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div @submit.prevent="" v-if="ACTION != ACTION_ADD">
                <template v-if="candidates.length < 1">Data is empty ...</template>
                <div class="freeze-pane" id="lecturer-list" v-else>
                    <table class="bordered">
                        <thead>
                        <tr>
                            <th style="width: 32px; text-align: center;">No</th>
                            <th style="width: 250px; text-align: center;">Lecture</th>
                            <th style="width: 160px; text-align: center;">Institution</th>
                            <th style="width: 300px; text-align: center;">Academic Organization</th>
                            <th style="width: 300px; text-align: center;">Department</th>
                            <th style="width: 160px; text-align: center;">Behavioral Date</th>
                            <th style="width: 160px; text-align: center;">Period</th>
                            <th><div style="width: 240px; text-align: center;">Reason</div></th>
                            <th style="width: 200px; text-align: center;">Current JKA</th>
                            <th style="width: 160px; text-align: center;">Current Grade</th>
                            <th style="width: 240px; text-align: center;">Next JKA</th>
                            <th style="width: 240px; text-align: center;">Next Grade</th>
                            <th style="width: 240px; text-align: center;">Status</th>
                            <th style="width: 50px; text-align: center;">Note</th>
                            <th style="width: 50px; text-align: center;">Action</th>
                            <th><input type="checkbox" @click.stop="selectAllClicked" ref="checkboxAllCandidate"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(candidate, index) in candidates" style="height: 67px;">
                            <td><div style="width: 32px;">{{ (index + 1) }}</div></td>
                            <td>
                                <div style="width: 250px;overflow: hidden;">
                                    {{ candidate.LecturerCode }} - {{ candidate.Name }}
                                </div>
                            </td>
                            <td><div style="width: 160px;">{{ institutions[candidate.Inst].InstName }}</div></td>
                            <td><div style="width: 300px;">{{ candidate.AcadOrg }} - {{ candidate.AcadName }}</div></td>
                            <td><div style="width: 300px;">{{ candidate.DepName || "-" }}</div></td>
                            <td><div style="width: 160px;">{{ candidate.FormattedBehaviorDate || "-" }}</div></td>
                            <td><div style="width: 160px;">{{ candidate.Period || "NULL" }}</div></td>
                            <td>
                                <div class="custom-combobox" v-if="disableByStatusID(candidate.CandidateID, candidate.StatusID)">
                                    <select @change="editReason($event.target.value, candidate); candidate.ReasonID = $event.target.value;">
                                        <option style="display:none"></option>
                                        <option :value="reason.ReasonID" v-for="reason in reasons">
                                            {{ reason.Reason }}
                                        </option>
                                    </select>
                                    <span class="combobox-label">{{ reasons[candidate.ReasonID].Reason }}</span>
                                </div>
                                <div style="width: 240px; text-align: center;" v-else>
                                    {{ reasons[candidate.ReasonID].Reason || "-" }}
                                </div>
                            </td>
                            <td><div style="width: 200px;">{{ candidate.CurrentJKA || "-" }}</div></td>
                            <td><div style="width: 160px;">{{ candidate.CurrentGradeJKA }}</div></td>
                            <td>
                                <div style="width: 240px;">
                                    <span class="custom-combobox" v-if="disableByStatusID(candidate.CandidateID, candidate.StatusID)">
                                        <select @change="candidate.NextJKA = $event.target.value;editNextJKA($event.target.value, candidate);">
                                            <option style="display:none"></option>
                                            <option :value="desc" v-for="desc in filterJKA(candidate.CurrentJKA, candidate.CurrentGradeJKA)">
                                                {{ desc }}
                                            </option>
                                        </select>
                                        <span class="combobox-label">
                                            {{ candidate.NextJKA }}
                                        </span>
                                    </span>
                                    <span v-else>
                                        {{ candidate.NextJKA }}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div style="width: 240px;">
                                    <span class="custom-combobox" v-if="disableByStatusID(candidate.CandidateID, candidate.StatusID)">
                                        <select @change="candidate.NextGradeJKA = $event.target.value;editNextGradeJKA($event.target.value, candidate);">
                                            <option style="display:none"></option>
                                            <option :value="grade.N_JKA_ID" v-for="grade in filterLevelGrades(candidate.NextJKA, candidate.CurrentGradeJKA)">
                                                {{ grade.N_JKA_ID }}
                                            </option>
                                        </select>
                                        <span class="combobox-label">
                                            {{ candidate.NextGradeJKA }}
                                        </span>
                                    </span>
                                    <span v-else>
                                        {{ candidate.NextGradeJKA }}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div style="width: 240px;">
                                    <span class="custom-combobox" v-if="disableStatus(candidate)">
                                        <select @change.prevent="changeStatus(candidate.CandidateID, $event.target.value, $event);">
                                            <option style="display:none"></option>
                                            <option :value="status.StatusID" v-for="status in filterStatuses(candidate.StatusID, candidate.Period)">
                                                {{ status.Status }}
                                            </option>
                                        </select>
                                        <span class="combobox-label">
                                            {{ statuses[candidate.StatusID - 1].Status }}
                                        </span>
                                    </span>
                                    <span v-else>
                                        {{ candidate.Status }}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div style="width: 50px;">
                                    <tooltip title="Click to see notes">
                                        <i class="icon icon-widget-language-skill" style="cursor: pointer;" @click="popup.note = candidate.Note"></i>
                                    </tooltip>
                                </div>
                            </td>
                            <td style="width: 50px;">
                                <span style="cursor: pointer;" @click.prevent="deleteCandidate(candidate.CandidateID)" v-if="candidate.StatusID == STATUS_OPEN">
                                    <i class="icon icon-trash"></i>
                                </span>
                                <span v-else>
                                    <i class="icon icon-trash"></i>
                                </span>
                            </td>
                            <td style="position: relative;">
                                <input type="checkbox" :checked="editForm[candidate.CandidateID]" @click="onEditChecked($event, candidate)"/>
                                <span class="row-error" v-if="typeof candidateErrors[candidate.CandidateID] != 'undefined'"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="button-group">
                <template v-if="Object.keys(declinedCandidates).length < 1">
                    <nj-button v-if="Object.keys(editForm).length > 0 || Object.keys(candidatesToAdd).length > 0" @click="onSave" :is-processed="isSaving" display-text="SAVE" 
                        animation-color="white"></nj-button>
                    <nj-button v-if="Object.keys(editForm).length > 0" @click="onDeleteCandidates" :is-processed="isDeleting" display-text="DELETE" animation-color="white"></nj-button>    
                </template>
                <template v-if="ACTION != ACTION_ADD">
                    <nj-button @click="onPrintClicked" :is-processed="isPrinting" display-text="PRINT" animation-color="white"></nj-button>
                    <nj-button v-if="!isPeriodNull() && Object.keys(editForm).length > 0 && Object.keys(declinedCandidates).length < 1" @click="onPost" :is-processed="isPosting" display-text="POST" animation-color="white"></nj-button>        
                </template>
            </div>
        </div>
    </div>
    <br>
    <nj-popup @close="popup.note = null" v-if="popup.note != null">
        <div class="p-wrapper shadow-xl" style="background-color: white;">
            <div class="search-filter-form" style="margin: 0;padding: 12px;width: 500px;">
                <p>{{ popup.note }}</p>
            </div>
        </div>
    </nj-popup>
</div> 

